In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1)

In [44]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [45]:
df[df.isnull()==True].count()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
dtype: int64

In [46]:
df.duplicated()==True

0      False
1      False
2      False
3      False
4      False
       ...
241    False
242    False
243    False
244    False
245    False
Length: 246, dtype: bool

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [48]:
df.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [49]:
df.head(2)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire

In [50]:
df.loc[:122,'region'] = 1 
df.loc[122:,'region'] = 0

In [51]:
df.tail(2)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,0.0
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,0.0

In [52]:
type(df['region'])
type('region')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  region       246 non-null    float64
dtypes: float64(1), object(14)
memory usage: 29.0+ KB

In [53]:
df['region'] = df['region'].astype(int)

In [54]:
r = df.loc[122]
print(r)

day            Sidi-Bel Abbes Region Dataset
month                                    NaN
year                                     NaN
Temperature                              NaN
 RH                                      NaN
 Ws                                      NaN
Rain                                     NaN
FFMC                                     NaN
DMC                                      NaN
DC                                       NaN
ISI                                      NaN
BUI                                      NaN
FWI                                      NaN
Classes                                  NaN
region                                     0
Name: 122, dtype: object

In [55]:
df = df.drop(122)

In [56]:
df[df.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN,0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          245 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  region       245 non-null    int64
dtypes: int64(1), object(14)
memory usage: 30.6+ KB

In [58]:
df.rename(columns={'Classes  ':'Classes'},inplace=True)

In [59]:
df['Classes']

0       not fire
1       not fire
2       not fire
3       not fire
4       not fire
           ...
241         fire
242     not fire
243     not fire
244     not fire
245    not fire
Name: Classes, Length: 245, dtype: object

In [60]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,0
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,0
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,0
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,0

In [61]:
df['Classes'].unique()

array(['not fire   ', 'fire   ', 'fire', 'fire ', 'not fire', 'not fire ',
       'Classes  ', 'not fire     ', nan, 'not fire    '], dtype=object)

In [62]:
df['Classes']  = df['Classes'].str.strip()

In [63]:
df.loc[123]

day                    day
month                month
year                  year
Temperature    Temperature
 RH                     RH
 Ws                     Ws
Rain                 Rain
FFMC                  FFMC
DMC                    DMC
DC                      DC
ISI                    ISI
BUI                    BUI
FWI                    FWI
Classes            Classes
region                   0
Name: 123, dtype: object

In [64]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,0
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,0
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,0
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,0

In [65]:
df.drop(123,inplace=True)

In [66]:
df[df['Classes'] == np.nan]

Empty DataFrame
Columns: [day, month, year, Temperature,  RH,  Ws, Rain , FFMC, DMC, DC, ISI, BUI, FWI, Classes, region]
Index: []

In [67]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
labels = l.fit_transform(df[['Classes']])

c:\p\ven\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [68]:
labels

array([1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1])

In [69]:
df['fire_lab'] = labels
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region,fire_lab
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0,0
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,0,1
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,0,1
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,0,1
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,0,1

In [70]:
df[labels == 2]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region,fire_lab
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN,0,2

In [71]:
df['fire_lab'].replace(2,df['fire_lab'].mode()[0],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19508\3938111299.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fire_lab'].replace(2,df['fire_lab'].mode()[0],inplace=True)

In [72]:
df['fire_lab'].unique()

array([1, 0])

In [73]:
df.drop(columns='Classes',inplace=True)

In [74]:
df.head(2)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,region,fire_lab
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,1,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,1,1

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    object
 1   month        244 non-null    object
 2   year         244 non-null    object
 3   Temperature  244 non-null    object
 4    RH          244 non-null    object
 5    Ws          244 non-null    object
 6   Rain         244 non-null    object
 7   FFMC         244 non-null    object
 8   DMC          244 non-null    object
 9   DC           244 non-null    object
 10  ISI          244 non-null    object
 11  BUI          244 non-null    object
 12  FWI          244 non-null    object
 13  region       244 non-null    int64
 14  fire_lab     244 non-null    int64
dtypes: int64(2), object(13)
memory usage: 30.5+ KB

In [76]:
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
region         0
fire_lab       0
dtype: int64

In [77]:
df.reset_index(drop=True,inplace=True)

In [ ]:
# df.drop(columns = 'index',inplace=True)

KeyError: "['index'] not found in axis"

In [79]:
df.shape

(244, 15)

In [80]:
df.loc[243]

day              30
month            09
year           2012
Temperature      24
 RH              64
 Ws              15
Rain            0.2
FFMC           67.3
DMC             3.8
DC             16.5
ISI             1.2
BUI             4.8
FWI             0.5
region            0
fire_lab          1
Name: 243, dtype: object

In [82]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,region,fire_lab
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,1,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,1,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,1,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,1,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,1,1

In [83]:
df.columns = df.columns.str.strip()

In [84]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'region', 'fire_lab'],
      dtype='object')

In [85]:
df['FWI'].unique()

array(['0.5', '0.4', '0.1', '0', '2.5', '7.2', '7.1', '0.3', '0.9', '5.6',
       '7.1 ', '0.2', '1.4', '2.2', '2.3', '3.8', '7.5', '8.4', '10.6',
       '15', '13.9', '3.9', '12.9', '1.7', '4.9', '6.8', '3.2', '8',
       '0.6', '3.4', '0.8', '3.6', '6', '10.9', '4', '8.8', '2.8', '2.1',
       '1.3', '7.3', '15.3', '11.3', '11.9', '10.7', '15.7', '6.1', '2.6',
       '9.9', '11.6', '12.1', '4.2', '10.2', '6.3', '14.6', '16.1',
       '17.2', '16.8', '18.4', '20.4', '22.3', '20.9', '20.3', '13.7',
       '13.2', '19.9', '30.2', '5.9', '7.7', '9.7', '8.3', '0.7', '4.1',
       '1', '3.1', '1.9', '10', '16.7', '1.2', '5.3', '6.7', '9.5', '12',
       '6.4', '5.2', '3', '9.6', '4.7', 'fire   ', '14.1', '9.1', '13',
       '17.3', '30', '25.4', '16.3', '9', '14.5', '13.5', '19.5', '12.6',
       '12.7', '21.6', '18.8', '10.5', '5.5', '14.8', '24', '26.3',
       '12.2', '18.1', '24.5', '26.9', '31.1', '30.3', '26.1', '16',
       '19.4', '2.7', '3.7', '10.3', '5.7', '9.8', '19.3', '17.5', '15.4',
       '15.2', '6.5'], dtype=object)

In [86]:
l = ['Rain','FFMC','DMC','DC','ISI','BUI']
df[l] = df[l].apply(lambda x: x.astype(float))

ValueError: could not convert string to float: '14.6 9'

In [ ]:
dm = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1)
FWI1 = dm['FWI']
fg = FWI1.copy()

In [ ]:

pd.to_numeric(FWI1,errors = "coerce")
FWI1  = pd.Series(FWI1)
FWI1 = FWI1[FWI1.notna()]

In [ ]:
FWI1[FWI1 == 'FWI']
FWI1.astype(float)

0      0.5
1      0.4
2      0.1
3      0.0
4      0.5
      ...
241    6.5
242    0.0
243    0.2
244    0.7
245    0.5
Length: 243, dtype: float64

In [ ]:
FWI1.drop(index = 123,inplace = True)

In [ ]:
df["FWI1"] = FWI1

In [ ]:
FWI1.unique()
FWI1.reset_index(drop = True)

0      0.5
1      0.4
2      0.1
3        0
4      0.5
      ...
238    6.5
239      0
240    0.2
241    0.7
242    0.5
Length: 243, dtype: object

In [ ]:
FWI1.unique()

array(['0.5', '0.4', '0.1', '0', '2.5', '7.2', '7.1', '0.3', '0.9', '5.6',
       '7.1 ', '0.2', '1.4', '2.2', '2.3', '3.8', '7.5', '8.4', '10.6',
       '15', '13.9', '3.9', '12.9', '1.7', '4.9', '6.8', '3.2', '8',
       '0.6', '3.4', '0.8', '3.6', '6', '10.9', '4', '8.8', '2.8', '2.1',
       '1.3', '7.3', '15.3', '11.3', '11.9', '10.7', '15.7', '6.1', '2.6',
       '9.9', '11.6', '12.1', '4.2', '10.2', '6.3', '14.6', '16.1',
       '17.2', '16.8', '18.4', '20.4', '22.3', '20.9', '20.3', '13.7',
       '13.2', '19.9', '30.2', '5.9', '7.7', '9.7', '8.3', '0.7', '4.1',
       '1', '3.1', '1.9', '10', '16.7', '1.2', '5.3', '6.7', '9.5', '12',
       '6.4', '5.2', '3', '9.6', '4.7', '14.1', '9.1', '13', '17.3', '30',
       '25.4', '16.3', '9', '14.5', '13.5', '19.5', '12.6', '12.7',
       '21.6', '18.8', '10.5', '5.5', '14.8', '24', '26.3', '12.2',
       '18.1', '24.5', '26.9', '31.1', '30.3', '26.1', '16', '19.4',
       '2.7', '3.7', '10.3', '5.7', '9.8', '19.3', '17.5', '15.4', '15.2',
       '6.5'], dtype=object)

In [ ]:
df['FWI'] = pd.to_numeric(df['FWI'],errors='coerce')

In [ ]:
df[df['FWI'].isnull()]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,region,fire_lab
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,None,1,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,None,1,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,None,1,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,None,1,1
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,None,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,None,0,0
240,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,None,0,1
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,None,0,1
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,None,0,1
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,None,0,1

In [ ]:
df['FWI'] = df['FWI'].dropna(inplace=True)

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df['FWI'].astype(float)

0      0.5
1      0.4
2      0.1
3      0.0
4      0.5
      ...
239    6.5
240    0.0
241    0.2
242    0.7
243    0.5
Name: FWI, Length: 244, dtype: float64

In [ ]:
df['DC'] = df['DC'].apply(lambda x: str(x).split()[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          241 non-null    int64
 1   month        241 non-null    int64
 2   year         241 non-null    int64
 3   Temperature  241 non-null    int64
 4   RH           241 non-null    int64
 5   Ws           241 non-null    int64
 6   Rain         241 non-null    float64
 7   FFMC         241 non-null    float64
 8   DMC          241 non-null    float64
 9   DC           241 non-null    float64
 10  ISI          241 non-null    float64
 11  BUI          241 non-null    float64
 12  region       241 non-null    int64
 13  fire_lab     241 non-null    int64
 14  FWI1         241 non-null    float64
dtypes: float64(7), int64(8)
memory usage: 30.1 KB

In [ ]:
df.drop(columns = ['0.5', '0.4', '0.1',
       '0', '2.5', '7.2', '7.1', '0.3', '0.9', '5.6', '7.1 ', '0.2', '1.4',
       '2.2', '2.3', '3.8', '7.5', '8.4', '10.6', '15', '13.9', '3.9', '12.9',
       '1.7', '4.9', '6.8', '3.2', '8', '0.6', '3.4', '0.8', '3.6', '6',
       '10.9', '4', '8.8', '2.8', '2.1', '1.3', '7.3', '15.3', '11.3', '11.9',
       '10.7', '15.7', '6.1', '2.6', '9.9', '11.6', '12.1', '4.2', '10.2',
       '6.3', '14.6', '16.1', '17.2', '16.8', '18.4', '20.4', '22.3', '20.9',
       '20.3', '13.7', '13.2', '19.9', '30.2', '5.9', '7.7', '9.7', '8.3','0.7', '4.1'],inplace = True)

In [ ]:
df.isnull().any()

day            False
month          False
year           False
Temperature    False
RH             False
Ws             False
Rain           False
FFMC           False
DMC            False
DC             False
ISI            False
BUI            False
region         False
fire_lab       False
FWI1           False
dtype: bool

In [ ]:
df['FWI1'] = df['FWI1'].astype(float)

In [ ]:

df.dropna(inplace = True)

In [ ]:
df[df['FWI1'].isnull()]

Empty DataFrame
Columns: [day, month, year, Temperature, RH, Ws, Rain, FFMC, DMC, DC, ISI, BUI, region, fire_lab, FWI1]
Index: []

In [ ]:
df.to_csv("cleaned.csv",index=False)

In [ ]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,region,fire_lab
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,1,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,1,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,1,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,1,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,1,1

In [87]:
df = pd.read_csv('cleaned.csv')

In [90]:
df.columns

Index(['Unnamed: 0', 'day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain',
       'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'region', 'fire_lab', 'FWI1'],
      dtype='object')

In [91]:
df.head()
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          241 non-null    int64
 1   month        241 non-null    int64
 2   year         241 non-null    int64
 3   Temperature  241 non-null    int64
 4   RH           241 non-null    int64
 5   Ws           241 non-null    int64
 6   Rain         241 non-null    float64
 7   FFMC         241 non-null    float64
 8   DMC          241 non-null    float64
 9   DC           241 non-null    float64
 10  ISI          241 non-null    float64
 11  BUI          241 non-null    float64
 12  region       241 non-null    int64
 13  fire_lab     241 non-null    int64
 14  FWI1         241 non-null    float64
dtypes: float64(7), int64(8)
memory usage: 28.4 KB